.formInput{
    display: flex;
    flex-direction: column;
    
    align-items: center;
    margin-top: 20px;
}

input{
    
    padding: 15px;
    margin: 10px 0px;
    border-radius: 5px;
    border-bottom: #000000;
    border-bottom-color: rgb(20 20 22);
    padding-bottom: 10px;
    border-bottom-width: 20px;
    border-bottom: solid;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: groove;
    background-color: rgb(255 255 255);
   width:80%;
}


label{
    font-size: 12px;
    color: gray;
    font-style: exo;
}

span{
    font-size: 12px;
    padding: 3px;
    color: red;
    display: none;
}

input:invalid[focused="true"]{
    border: 1px solid #ff00007a;
}

input:invalid[focused="true"] ~ span{
    display: block;
}

